DevBot V1/config.json
github
.gitignore
DevBot V1/node_modules/
DevBot V1/.eslintrc.json

DevBot V1/package-lock.json
DevBot V1/COMMAND_TEMPLATE
DevBot V1/commands/assets/help_command_template.ai
DevBot V1/commands/assets/
TODO
TODO.txt
