github
TODO.txt
.gitignore
.env

DevBot V1/config.json
DevBot V1/node_modules/
DevBot V1/.eslintrc.json
DevBot V1/COMMAND_TEMPLATE
DevBot V1/package-lock.json
DevBot V1/package.json

DevBot V1/commands/assets/
test